@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins";

$polygonts: cubic-bezier(0.7, 0.3, 0, 1);

.main {
  width: 100%;
  position: relative;
  height: 100%;
  //background-color: #1a1a1d;

  .logo-canvas {
    width: 570px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -285px;
    top: 50%;
    margin-top: 285px;
    @include ts(5555s);
    -webkit-transform: rotate(0deg) scale3d(1,1,1);
    -moz-transform: rotate(0deg) scale3d(1,1,1);
    -ms-transform: rotate(0deg) scale3d(1,1,1);
    -o-transform: rotate(0deg) scale3d(1,1,1);
    transform: rotate(0deg) scale3d(1,1,1);

    .shard-wrap {
      width: 100%;
      height: 100%;
      z-index: 2;
      position: absolute;
      @include ts(.8s);

      .shard {
        width: 100%;
        height: 100%;
        @include ts(.8s);
        
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: rgba(255,255,255,0);
          top: 0;
          left: 0;
        }
      }

      //&:first-of-type .shard {
      //  -webkit-clip-path: polygon(42% 0%, 78% 82%, 60% 68%);
      //  background-color: #111;
      //  @include ts(.5s cubic-bezier(0.7, 0.3, 0, 1));
      //}
      //
      //&:nth-of-type(2) .shard {
      //  -webkit-clip-path: polygon(41% 0.7%, 59% 66%, 32% 22%);
      //  background-color: #111;
      //  @include ts(.5s .12s cubic-bezier(0.7, 0.3, 0, 1));
      //}
      //
      //&:nth-of-type(3) .shard {
      //  -webkit-clip-path: polygon(34% 69%, 80% 88.5%, 22.3% 41.7%);
      //  background-color: #111;
      //  @include ts(.5s .24s cubic-bezier(0.7, 0.3, 0, 1));
      //}
      //&:nth-of-type(4) .shard {
      //  -webkit-clip-path: polygon(37.5% 71.1%, 81.5% 90%, 85% 100%);
      //  background-color: #111;
      //  @include ts(.5s .35s cubic-bezier(0.7, 0.3, 0, 1));
      //}
      //&:nth-of-type(5) .shard {
      //  -webkit-clip-path: polygon(21.5% 47.5%, 16% 89.5%, 0% 100%);
      //  background-color: #111;
      //  @include ts(.5s .45s cubic-bezier(0.7, 0.3, 0, 1));
      //}
      //&:nth-of-type(6) .shard {
      //  -webkit-clip-path: polygon(22.3% 47.5%, 30% 69%, 17% 88%);
      //  background-color: #111;
      //  @include ts(.5s .77s cubic-bezier(0.7, 0.3, 0, 1));
      //}
    }
  }
}

.stage-1 {
  .shard-wrap {
    // First piece, top left
    &:first-of-type .shard {
      -webkit-clip-path: polygon(41% 0.7%, 36.5% 11%, 48% 25%);
      background-color: #111;
      @include ts(.5s cubic-bezier(0.7, 0.3, 0, 1));
    }

    &:nth-of-type(2) .shard {
      -webkit-clip-path: polygon(48% 25%, 36.5% 11%, 32% 22%);
      background-color: #111;
      @include ts(.5s .05s cubic-bezier(0.7, 0.3, 0, 1));
    }

    &:nth-of-type(3) .shard {
      -webkit-clip-path: polygon(32% 22%, 48% 25%, 51.85% 55%);
      background-color: #111;
      @include ts(.5s .11s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(4) .shard {
      -webkit-clip-path: polygon(48% 25%, 51.85% 55%, 59% 66%);
      background-color: #111;
      @include ts(.5s .17s cubic-bezier(0.7, 0.3, 0, 1));
    }

    // Second piece, top right
    &:nth-of-type(5) .shard {
      -webkit-clip-path: polygon(42% 0%, 66.35% 55.6%, 55% 48%);
      background-color: #111;
      @include ts(.5s .22s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(6) .shard {
      -webkit-clip-path: polygon(55% 48%, 60% 68%, 66.35% 55.6%);
      background-color: #111;
      @include ts(.5s .25s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(7) .shard {
      -webkit-clip-path: polygon(66.35% 55.6%, 60% 68%, 70.5% 65.25%);
      background-color: #111;
      @include ts(.5s .3s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(8) .shard {
      -webkit-clip-path: polygon(60% 68%, 70.5% 65.25%, 78% 82%);
      background-color: #111;
      @include ts(.5s .33s cubic-bezier(0.7, 0.3, 0, 1));
    }

    // Third piece, middle left
    &:nth-of-type(9) .shard {
      -webkit-clip-path: polygon(22.3% 41.7%, 35.8% 54%, 30% 60%);
      background-color: #111;
      @include ts(.5s .36s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(10) .shard {
      -webkit-clip-path: polygon(30% 60%, 35.8% 54%, 34% 69%);
      background-color: #111;
      @include ts(.5s .40s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(11) .shard {
      -webkit-clip-path: polygon(34% 69%, 54% 69%, 35.8% 54%);
      background-color: #111;
      @include ts(.5s .42s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(12) .shard {
      -webkit-clip-path: polygon(34% 69%, 54% 69%, 80% 88.5%);
      background-color: #111;
      @include ts(.5s .45s cubic-bezier(0.7, 0.3, 0, 1));
    }

    // Fourth piece, middle right
    &:nth-of-type(13) .shard {
      -webkit-clip-path: polygon(37.5% 71.1%, 65% 82.5%, 49% 78.5%);
      background-color: #111;
      @include ts(.5s .47s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(14) .shard {
      -webkit-clip-path: polygon(49% 78.5%, 65% 82.5%, 75% 94.5%);
      background-color: #111;
      @include ts(.5s .4s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(15) .shard {
      -webkit-clip-path: polygon(65% 82.5%, 75% 94.5%, 81.5% 90%);
      background-color: #111;
      @include ts(.5s .3s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(16) .shard {
      -webkit-clip-path: polygon(75% 94.5%, 81.5% 90%, 85% 100%);
      background-color: #111;
      @include ts(.5s .33s cubic-bezier(0.7, 0.3, 0, 1));
    }

    // Fifth piece, Bottom left
    &:nth-of-type(17) .shard {
      -webkit-clip-path: polygon(21.5% 47.5%, 19% 65%, 13.5% 68.8%);
      background-color: #111;
      @include ts(.5s .22s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(18) .shard {
      -webkit-clip-path: polygon(13.5% 68.8%, 19% 65%, 16% 89.5%);
      background-color: #111;
      @include ts(.5s .25s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(19) .shard {
      -webkit-clip-path: polygon(13.5% 68.8%, 16% 89.5%, 7% 84.5%);
      background-color: #111;
      @include ts(.5s .3s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(20) .shard {
      -webkit-clip-path: polygon(0% 100%, 7% 84.5%, 16% 89.5%);
      background-color: #111;
      @include ts(.5s .33s cubic-bezier(0.7, 0.3, 0, 1));
    }

    // Final piece, Bottom right
    &:nth-of-type(21) .shard {
      -webkit-clip-path: polygon(22.3% 47.5%, 30% 69%, 20% 65%);
      background-color: #111;
      @include ts(.5s .22s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(22) .shard {
      -webkit-clip-path: polygon(20% 65%, 30% 69%, 26% 75%);
      background-color: #111;
      @include ts(.5s .25s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(23) .shard {
      -webkit-clip-path: polygon(20% 65%, 26% 75%, 18.3% 79%);
      background-color: #111;
      @include ts(.5s .3s cubic-bezier(0.7, 0.3, 0, 1));
    }
    &:nth-of-type(24) .shard {
      -webkit-clip-path: polygon(18.3% 79%, 17% 88%, 26% 75%);
      background-color: #111;
      @include ts(.5s .33s cubic-bezier(0.7, 0.3, 0, 1));
    }

    @for $i from 1 through 24 {
      &:nth-of-type(#{$i}) .shard {
        @include ts(.45s $i * 0.018s cubic-bezier(0.7, 0.3, 0, 1));
        
        &:before {
          -webkit-animation-delay: $i * 0.038s;
          -moz-animation-delay: $i * 0.038s;
          -o-animation-delay: $i * 0.038s;
          animation-delay: $i * 0.038s;
        }
      }
    }
  }
}

.intro {
  .logo-canvas {
    //-webkit-transform: rotate(36000deg);
    //-moz-transform: rotate(36000deg);
    //-ms-transform: rotate(36000deg);
    //-o-transform: rotate(36000deg);
    //transform: rotate(36000deg);
    .shard-wrap {
      &:first-of-type .shard {
        -webkit-clip-path: polygon(21.5% 70.5%, 12% 85.5%, 8% 80%) !important;
        background-color: #483448 !important;
      }

      &:nth-of-type(2) .shard {
        -webkit-clip-path: polygon(22.8% 24.714%, 18.3% 27.714%, 13.6% 24%) !important;
        background-color: #e33 !important;
      }

      &:nth-of-type(3) .shard {
        -webkit-clip-path: polygon(8.5% 55%, 8% 57.286%, 11.7% 55.429%) !important;
        background-color: greenyellow !important;
      }
      &:nth-of-type(4) .shard {
        -webkit-clip-path: polygon(65% 88%, 52.5% 87.5%, 46% 80%) !important;
        background-color: darkblue !important;
      }
      &:nth-of-type(5) .shard {
        -webkit-clip-path: polygon(48.5% 2.571%, 49.4% 5.571%, 50% 2.714%) !important;
        background-color: #eee !important;
      }
      &:nth-of-type(6) .shard {
        -webkit-clip-path: polygon(70.5% 11.429%, 71.3% 8.571%, 73.1% 9.571%) !important;
        background-color: #302035 !important;
      }
    }
  }
}

.smash {
  .rotator {
    -webkit-transform: rotate(36000deg);
    -moz-transform: rotate(36000deg);
    -ms-transform: rotate(36000deg);
    -o-transform: rotate(36000deg);
    transform: rotate(36000deg);
  }
  .logo-canvas {
    -webkit-transform: scale3d(700,700,1);
    -moz-transform: scale3d(700,700,1);
    -ms-transform: scale3d(700,700,1);
    -o-transform: scale3d(700,700,1);
    transform: scale3d(700,700,1);
  }
  .shard-wrap {

    &:nth-of-type(n) .shard {
      @include ts(.45s .0165s cubic-bezier(0.65, 0.2, 0.1, 1.05) !important);
    }

      &:nth-child(1) {
        .shard {
          -webkit-clip-path: polygon( 23.200% 21.571% ,21.700% 17.714% ,20.200% 19.857% ) !important;
        }
      }
      &:nth-child(2) {
        .shard {
          -webkit-clip-path: polygon( 18.800% 25.714% ,16.300% 22.714% ,15.600% 24.000% ) !important;
        }
      }
      &:nth-child(3) {
        .shard {
          -webkit-clip-path: polygon(91% 60%, 87.5% 61.5%, 85% 60%) !important;
        }
      }
      &:nth-child(4) {
        .shard {
          -webkit-clip-path: polygon(10% 30%, 11% 32%, 12% 31%) !important;
        }
      }
      &:nth-child(5) {
        .shard {
          -webkit-clip-path: polygon(70% 90%, 71% 92%, 72% 91%) !important;
        }
      }
      &:nth-child(6) {
        .shard {
          -webkit-clip-path: polygon(80% 70%, 81% 73%, 82% 71%) !important;
        }
      }
      &:nth-child(7) {
        .shard {
          -webkit-clip-path: polygon( 8.500% 55.000% ,8.000% 57.286% ,11.700% 55.429% ) !important;
        }
      }
      &:nth-child(8) {
        .shard {
          -webkit-clip-path: polygon( 15.100% 63.857% ,15.500% 65.714% ,18.100% 63.857% ) !important;
        }
      }
      &:nth-child(9) {
        .shard {
          -webkit-clip-path: polygon( 18.800% 78.000% ,15.800% 79.143% ,17.300% 80.714% ) !important;
        }
      }
      &:nth-child(10) {
        .shard {
          -webkit-clip-path: polygon(85% 78%, 84.5% 80.5%, 86% 80%) !important;
        }
      }
      &:nth-child(11) {
        .shard {
          -webkit-clip-path: polygon( 39.300% 17.143% ,38.700% 13.000% ,36.900% 15.571% ) !important;
        }
      }
      &:nth-child(12) {
        .shard {
          -webkit-clip-path: polygon( 32.100% 82.000% ,34.100% 84.429% ,35.500% 79.714% ) !important;
        }
      }
      &:nth-child(13) {
        .shard {
          -webkit-clip-path: polygon( 48.500% 2.571% ,49.400% 5.571% ,50.000% 2.714% ) !important;
        }
      }
      &:nth-child(14) {
        .shard {
          -webkit-clip-path: polygon(50% 93%, 51% 95%, 52% 94%) !important;
        }
      }
      &:nth-child(15) {
        .shard {
          -webkit-clip-path: polygon( 60.300% 8.000% ,62.300% 5.571% ,60.900% 3.857% ) !important;
        }
      }
      &:nth-child(16) {
        .shard {
          -webkit-clip-path: polygon( 59.900% 92.714% ,60.400% 98.286% ,63.600% 96.714% ) !important;
        }
      }
      &:nth-child(17) {
        .shard {
          -webkit-clip-path: polygon( 70.500% 11.429% ,71.300% 8.571% ,73.100% 9.571% ) !important;
        }
      }
      &:nth-child(18) {
        .shard {
          -webkit-clip-path: polygon( 18.500% 42.286% ,15.200% 40.286% ,15.900% 42.857% ) !important;
        }
      }
      &:nth-child(19) {
        .shard {
          -webkit-clip-path: polygon( 73.500% 16.857% ,76.300% 14.857% ,74.400% 12.429% ) !important;
        }
      }
      &:nth-child(20) {
        .shard {
          -webkit-clip-path: polygon(80% 90%, 81% 92%, 82% 91%) !important;
        }
      }

      &:nth-child(21) {
        .shard {
          -webkit-clip-path: polygon( 73.300% 28.429% ,75.500% 26.714% ,74.800% 25.857% ) !important;
        }
      }
      &:nth-child(22) {
        .shard {
          -webkit-clip-path: polygon(85% 25%, 86% 27%, 87% 26%) !important;
        }
      }

      &:nth-child(23) {
        .shard {
          -webkit-clip-path: polygon( 79.600% 33.571% ,82.800% 32.714% ,81.800% 30.000% ) !important;
        }
      }
      &:nth-child(24) {
        .shard {
          -webkit-clip-path: polygon( 86.900% 42.643% ,90.500% 42.929% ,89.800% 39.786% ) !important;
        }
      }
      &:nth-child(25) {
        .shard {
          -webkit-clip-path: polygon(80% 50%, 80.5% 50.5%, 81% 50%) !important;
        }
      }
      &:nth-child(26) {
        .shard {
          -webkit-clip-path: polygon(84.5% 60%, 83% 62%, 81% 61%) !important;
        }
      }
      &:nth-child(27) {
        .shard {
          -webkit-clip-path: polygon( 84.100% 67.857% ,85.500% 68.714% ,85.300% 67.286% ) !important;
        }
      }
      &:nth-child(28) {
        .shard {
          -webkit-clip-path: polygon(80% 70%, 81% 73%, 82% 71%) !important;
        }
      }
      &:nth-child(29) {
        .shard {
          -webkit-clip-path: polygon(85% 80%, 85.5% 80.5%, 86% 80%) !important;
        }
      }
      &:nth-child(30) {
        .shard {
          -webkit-clip-path: polygon( 76.600% 81.214% ,78.000% 84.786% ,78.400% 83.500% ) !important;
        }
      }
  }
}

.reset {
  .logo-canvas {
    @include ts(all ease-in-out .2s);
  }
}

.shimmer {
  .shard:before {
    @include animation(0.98s 0.17s shimmer forwards);
  }
}

@keyframes shimmer {
  0% {
    background-color: rgba(255,255,255,0);
  }
  35% {
    background-color: rgba(255,255,255,.1);
  }
  100% {
    background-color: rgba(255,255,255,0);
  }
}